<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body ng-controller="controller">
  <input ng-model="lat" placeholder="Latitude" />
  <input ng-model="lon" placeholder="Longitude" />
  <h2>{{address}}</h2>
  <button ng-click="simulateRequest(lat, lon)">Let's try this.</button>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
  <script src="app.js"></script>
  <script src="controller.js"></script>
  <script src="service.js"></script>
</body>
</html>
